{# formulaire d'ajout d'une formation  #}


{% extends 'base.html.twig' %}

{% block title %}Formulaire formation{% endblock %}

{% block body %}
{# s'il recoit edit alors c'est une modification #}
{% if edit %}
    <h2>Modifier la formation</h2>
{% else %}
   <h2>Ajouter la formation</h2>
{% endif %}

{# recupere le formulaire automatiquement  #}
{{ form(form) }}


{% endblock %}