@import url('https://fonts.googleapis.com/css2?family=Georama:ital,wght@0,100..900;1,100..900&display=swap');

*{
    box-sizing: border-box;
    font-family: "Georama", sans-serif;
    padding: 0;
    margin: 0;
}

:root{
    --main--espace : 20px;
    --main-txt-color: #ffff;

    --border-size: 10px; 
    --btn-color: #034748;

    --escape-nav-laptop: 200px;
    --escape-nav-mobile: 150px;

    --hover-transition: 0.5s;
    --hover-opacity: 0.7;
}

/* -----------------------------------------------------------------------------template--------------------------------------------- */

#wrapper{
    min-height: 100vh;
}

.nav-closed{
    display: flex;
    height: 100vh;
    width: var(--escape-nav-laptop);
    flex-direction: column;
    position: fixed;
}

#side-nav{
    background-color: #456990;
    top: 0;

}

#side-nav ul{
    padding: 0;
}

#side-nav li{
    list-style: none;
    padding: var(--main--espace);
    display: flex;
    align-items: center;
}

#side-nav a{
    color: white;
    padding: 0 10px;
}

#top-nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-left: var(--escape-nav-laptop);
}

.icon{
    display: none;
}

.nav-profil a{
    color: black;
}

.nav-profil i{
    padding: 0 10px;
}


/* mainpage avec margin de la taille de la side-nav, pour decaller  */
#main-page{
    padding-left: var(--escape-nav-laptop);
}

/* -----barre de recherche  */
.search{
    padding: 5px 10px;
    border-radius: 25px;
    outline: none;
}



/* ---------------general */

/* margin de toutes les pages  */

#sessions, #session-detail, #formations, #resultat{
    margin: var(--main--espace);
}

/* le bouton  */
.btn-container{
    display: flex;
    justify-content: center;
}


.add-btn button{
    background-color: var(--btn-color);
    color: var(--main-txt-color);
    border-radius: var(--border-size);
    padding: 5px 20px;
    border: none;
    margin: 15px 0;
    transition: var(--hover-transition);
}

.add-btn button:hover{
    opacity: var(--hover-opacity);
}

/* span nombre vert  */
.nb-green{
    font-weight: bold;
    color: var(--btn-color);
}

.fa-solid{
    padding-right: 10px;
}

/* ----form */
form div label{
    padding: 15px 0;
}

/* ---------------------------------------------------------------------------session------------------------------------------------------ */

/* ----------listes */


h2{
    padding: var(--main--espace) 0;
}

#sessions a{
    color: black;
}

.section-detail{
    font-weight: 600;
}

/* -----------detail */

#session-detail .fa-solid{
    color: black;
}

.session-add{
    color: black;
    font-weight: 600;
    text-decoration: none;
    transition: var(--hover-transition);
}

.session-add:hover{
    opacity: var(--hover-opacity)
}

#session-info{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 20px;
}


.session-info-general{
    border: 1px solid;
    border-radius: var(--border-size);
    padding: var(--main--espace);
    position: relative;
}

.session-edit-pen{
    position: absolute;
    right: 0;
}

.session-detail-card{
    padding: 10px;
}

#session-detail h3{
    border-top: solid 1px black;
    border-bottom: solid 1px black;
    border-left: solid 5px #456990 ;
    padding: 10px;
    font-size: medium;
    font-weight: 600;
    margin-bottom: 20px;
}

/* ----------form  */
.sessions-form{
    padding: var(--main--espace);
    border: solid 2px hsl(210deg 11% 15% / 25%);
    border-radius: var(--border-size);
}

/* ===============================================VERSION MOBILE ================================= */
@media screen and (max-width: 768px){

    /* ------------------------------------templates----------------------------- */
    .icon{
        display: block;
    }

    #top-nav{
        flex-direction: column;
        height: var(--escape-nav-mobile);
    }

    #top-nav form{
        padding: 10px 0;
    }

    .icon{
        font-size: 30px;
        color: black;
    }

    /* -----nav fermee */
    .nav-closed{
        display: none;
    }

    /* -----nav ouverte  */


    .navbarResponsive{
        display: flex;
        position: relative;
        flex-direction: column;
        width: 100%;
        text-align: center;
        background-color: #fff;
        border-radius: 3px;
    }

    .navbarResponsive .icon{
        position: absolute;
        top: 0;
        right: 0;
        float: right;
        color: #010101;
        font-size: 30px;

    }

/* ---------------general */

    #main-page{
        padding-left: 0;
    }

}