{# liste des categories  #}

{% extends 'base.html.twig' %}

{% block title %}Liste des catégories{% endblock %}

{% block body %}

<section id="categories">
    <h2>Liste des catégories</h2>

    <table class="table table-striped">
        <thead>
          <tr class="table-success">
            <th scope="col">#</th>
            <th scope="col">Catégorie</th>    
          </tr>
        </thead>
        <tbody>
    {% set i = 1 %}
    {% for categorie in categories %}
            <tr>
                <td>{{i}} </td>
                {% set i = i + 1 %}
                <td>{{ categorie }}
                  {# si connecté et admin  #}
                  {% if app.user and "ROLE_ADMIN" in app.user.roles %}
                    <a href="{{ path('delete_categorie', {'id': categorie.id}) }}" class="delete-categorie"><i class="fa-solid fa-x"></i></a>
                  {% endif %}
                </td>
            </tr>
    {% endfor %}
        </tbody>
    </table>

    {% if app.user %}
      <a class="add-btn" href="{{ path('new_categorie')}}"><button>Créer une catégorie</button></a>
    {% endif %}
</section>

{% endblock %}
